html, body {
    background-color: #bdbdc9;
    font-family: Roboto, Arial, serif, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.milkbone-menu {
    background-color: #e1e1ef;
    border: 2px solid #189618;
    border-radius: 5px;
    box-shadow: 3px 3px #888888;
    color: #189618;
    font-weight: bolder;
    margin: 10px 0 10px 10px;
    padding: 5px;
    position: absolute;
    top: 0;
    transition: All 250ms easy;
    z-index: 10;
}

.milkbone-menu:active {
    box-shadow: none;
    top: 5px;
    transition: All 250ms easy;
}

.hidden {
    display: none;
}

.sidebar {
    display: block;
    height: 100%;
    overflow: auto;
    width: 320px;
}

.map {
    bottom:0;
    height: 100%;
    left: 320px;
    position: absolute;
    right: 0;
}

.location-image {
    height: 200px;
}

.filters-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 300px;
}

.location-selector {
    color: black;
    font-size: 16px;
    height: 40px;
    margin: 10px auto 10px 20px;
    text-align: center;
    width: 200px;
}

.location-selector__control {
    background-color: #e1e1ef !important;
    border-color: #4c46c4 !important;
    border-width: 2px !important;
}

.location-selector__indicators {
    color: black;
}

.location-selector__placeholder {
    color: #1b11e0 !important;
}

.filter-button {
    background: #89179b;
    color: white;
    margin: 10px auto 10px auto;
    text-align: center;
    width:130px;
}

.selected-locations {
    border-bottom: thick double #1f1f91;
    height: 500px;
    overflow: auto;
}

.current-list {
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    list-style-type: none;
    padding: 20px;
}

.current-list li {
    cursor: pointer;
    text-align: left;
    width: 250px;
}

.location {
    border-bottom: thick double #9e9ebc;
}

.details {
    line-height: 1;
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
}

.location-details {
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
}

.attribution {
    font-size: 12px;
    font-weight: normal;
    margin: 10px;
    width: 300px;
}

@media screen and (max-width: 800px) {
    .map {
        left: 0;
    }

    .sidebar {
        display: none;
    }
}
