html, body {
    font-family: Arial, serif, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

input {
  font-size: 14px;
}

.location-button {
    margin: 10px;
    padding: 20px;
    width: 48%;
}

.map {
  bottom:0px;
  height: 100%;
  left: 220px;
  position: absolute;
  right: 0px;
}

.locations-box {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 340px;
}
