html, body {
    font-family: Arial, serif, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

input {
  font-size: 14px;
}

.location-button {
    margin: 10px;
    padding: 20px;
    width: 48%;
}

.map {
  bottom:0;
  height: 100%;
  left: 300px;
  position: absolute;
  right: 0;
}

.location-image {
    height: 200px;
    width: 200px;
}

.filters-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    line-height: 35px;
    text-align: center;
    width: 300px;
}

.location-selector {
    height: 40px;
    margin: 10px auto 10px auto;
    text-align: center;
    width: 200px;
}

.locations {
    background: #bebcf4;
    margin: 10px auto 10px auto;
    padding: 20px;
    text-align: center;
    width:150px;
}

.current-list {
    font-size: 16px;
    font-weight: bold;
    list-style-type: none;
}

.current-list li {
    cursor: pointer;
    padding: 10px 5px 10px 5px;
    text-align: left;
}

.details {
    font-size: 14px;
    font-weight: normal;
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
}

.attribution {
    font-size: 12px;
    font-weight: normal;
    margin: 10px;
    width: 300px;
}
