html, body {
    font-family: Arial, serif, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.aria-hidden {
    display: none;
}

.location-list-container {
  height: 100%;
  width: 300px;
}

.map {
  bottom:0;
  height: 100%;
  left: 300px;
  position: absolute;
  right: 0;
}

.location-image {
    height: 200px;
}

.filters-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    line-height: 35px;
    text-align: center;
}

.location-selector {
    height: 40px;
    margin: 10px auto 10px auto;
    text-align: center;
    width: 200px;
}

.filter-button {
    background: #bebcf4;
    margin: 10px auto 10px auto;
    text-align: center;
    width:130px;
}

.selected-locations {
    height: 500px;
    overflow: auto;
}

.current-list {
    font-size: 16px;
    font-weight: bold;
    list-style-type: none;
    width: 200px;
}

.current-list li {
    cursor: pointer;
    text-align: left;
    width: 250px;
}

.details {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
}

.location-details {
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
}

.attribution {
    font-size: 12px;
    font-weight: normal;
    margin: 10px;
    width: 300px;
}
